.venv
__pycache__/
*.py[cod]
*$py.class

# Model files and directories
*.pt
*.h5
*.hdf5
*.keras
*.onnx
*.pkl
*.joblib
*.pickle
*.bin

# Jupyter Notebook
.ipynb_checkpoints

# Logs and results
logs/
*.log

# Environment variables
.env

# Forked repos
physics_guide/
Pendulum-NEAT-main/

models/interrupted_*
models/interrupted_*